<?php
/**
 * Author: metal
 * Email: metal
 */ 
defined('STACK_CLIENT_ID') or define('STACK_CLIENT_ID', 'ID HERE');
defined('STACK_CLIENT_SECRET') or define('STACK_CLIENT_SECRET', 'SECRET HERE');
defined('STACK_KEY') or define('STACK_KEY', 'KEY HERE');
defined('STACK_REDIRECT_URL') or define('STACK_REDIRECT_URL', 'LINK HERE');
defined('GITHUB_CLIENT_ID') or define('GITHUB_CLIENT_ID', 'ID HERE');
defined('GITHUB_CLIENT_SECRET') or define('GITHUB_CLIENT_SECRET', 'SECRET HERE');
defined('GITHUB_REDIRECT_URL') or define('GITHUB_REDIRECT_URL', 'LINK HERE');
