<?php
/**
 * Author: metal
 * Email: metal
 */ 
defined('WARGAMING_API_KEY') or define('WARGAMING_API_KEY', 'PUT YOUR API KEY HERE');
defined('MYSQL_CONNECTION_STRING') or define('MYSQL_CONNECTION_STRING', 'mysql://root:@127.0.0.1/uwc');
defined('BALANCE_DELTA_SCORE') or define('BALANCE_DELTA_SCORE', 500);

// score coefficients
defined('PREMIUM_TANK_COEFFICIENT') or define('PREMIUM_TANK_COEFFICIENT', 10);
defined('LEVEL_TANK_COEFFICIENT') or define('LEVEL_TANK_COEFFICIENT', 1000);
defined('HEALTH_TANK_COEFFICIENT') or define('HEALTH_TANK_COEFFICIENT', 1);
defined('MAX_DAMAGE_TANK_COEFFICIENT') or define('MAX_DAMAGE_TANK_COEFFICIENT', 7);
defined('MIN_DAMAGE_TANK_COEFFICIENT') or define('MIN_DAMAGE_TANK_COEFFICIENT', 13);
defined('MAX_FRAGS_MEMBER_TANK_COEFFICIENT') or define('MAX_FRAGS_MEMBER_TANK_COEFFICIENT', 100);
defined('MAX_XP_MEMBER_TANK_COEFFICIENT') or define('MAX_XP_MEMBER_TANK_COEFFICIENT', 1);
defined('TANK_SCORE_AND_MASTERY_COEFFICIENT') or define('TANK_SCORE_AND_MASTERY_COEFFICIENT', 1);
